:root {
    --grid-border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #c8c8c8;
}

html {
    height: -webkit-fill-available;
}






body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'VT323', monospace;

    background-image: linear-gradient(to right, #434343 0%, black 100%);
}


h1 {
    font-size: 5rem;
}

button {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    color: black;
    background-color: #faf9f9;
    padding: 2px;
    border: transparent;
}

.header {
    background: linear-gradient(black, #ffa3b1, #ffc20e);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}








.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 6rem;
}

.grid-container {
    flex: 0 0 auto;
    height: 35rem;
    width: 35rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.colorbtns-container,
.gridbtns-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 2em;
}








.filterbtns-container {
    display: flex;
    flex-direction: column;
}













.square {
    border: var(--grid-border);
    background-color: transparent;
}






.draw-btn,
.eraser-btn,
.random-btn {
    width: 2.5em;
    height: 2.5em;
    border-radius: 25%;
}

.color-picker {
    width: 5.5em;
    height: 5.5em;
}


.clear-btn {
    margin-bottom: 1em;
}

.grid-btn {
    margin-top: 1em;
}

.eraser-btn {
    margin-bottom: 1em;
}

.blur-btn {
    margin-top: .25em;
    margin-bottom: .25em;
}

.shade-btn {
    margin-top: 1em;
}

.lighter-btn,
.darker-btn {
    color: #c8c8c8;
}




.draw-btn {
    background-image: url('images/pencil.png');
    background-size: cover;
}

.eraser-btn {
    background-image: url('images/eraser.png');
    background-size: cover;
}

.random-btn {
    background-image: url('images/rainbow.png');
    background-size: cover;
}













button:hover {
    cursor: pointer;
    box-shadow: rgba(113, 113, 198, 0.56) 0px 6px 12px 2px,rgba(212, 186, 186, 0.937) 0px 3px 7px 3px;
}

.blur-btn:hover,
.shade-btn:hover,
.clear-btn:hover,
.eight-btn:hover,
.sixteen-btn:hover,
.thirtytwo-btn:hover,
.sixtyfour-btn:hover,
.grid-btn:hover {
    background: linear-gradient(black, #e76767, #ffc20e);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.active-btn {
    background-color: #db0f0f9e;
    color: #ffc20e;
}


.disabled-btn {
    background-color: #c8c8c8;
}

.shadow-on {
    box-shadow: rgba(84, 84, 158, 0.56) 0px 8px 11px 2px,rgba(192, 162, 162, 0.937) 0px 3px 7px -3px;

    transition: .5s;
}





















@media (max-width: 1200px) {
    .container {
        gap: 3rem;
    }
}


@media (max-width: 1020px) {
    .container {
        gap: 1.3rem;
    }
    body {
        font-size: 1rem;
    }
    .draw-btn,
    .eraser-btn,
    .random-btn {
        width: 2em;
        height: 2em;
    }
    .color-picker {
        width: 3.5em;
        height: 3.5em;
    }
}


@media (max-width: 900px) {
    grid-container {
        width: 25rem;
        height: 25rem;
    }
}


@media (max-width: 850px) {
    .container {
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }
    .colorbtns-container,
    .gridbtns-container {
        flex-direction: row;
        margin-top: 0;
    }
    .shadebtns-container {
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 4rem;
    }
    .draw-btn,
    .eraser-btn,
    .random-btn {
        width: 2em;
        height: 2em;
    }

    .clear-btn,
    .eraser-btn,
    .blur-btn {
        margin-bottom: 0;
    }

    .grid-btn,
    .shade-btn,
    .blur-btn {
        margin-top: 0;
    }

   

    
}

@media (max-width: 600px) {
    .grid-container {
        width: 20rem;
        height: 20rem;
    }
}