:root {
    --grid-border: .5px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #c8c8c8;
}

html {
    height: -webkit-fill-available;
}






body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-size: 1.25rem;
    font-family: 'VT323', monospace;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}


h1 {
    font-size: 4rem;
}

button {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    color: black;
    border: transparent;
    border-radius: 25%;
    height: 3.5rem;
    width: 3.5rem;
    background-image: url('images/btn-background.png');
    background-size: cover;
    text-shadow: 2px 2px #cfc9c9;
    filter: brightness(.75);
}





.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background: linear-gradient(black, #ffa3b1, #ffc20e);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: .5em;
    padding-bottom: 1em;
}



.app-container {
    margin-top: 1rem;
    
}

.colorbtns-container {
    display: flex;
    justify-content: space-between;
}

.app-inner-container {
    display: flex;
    flex-direction: row;
}

.grid-container {
    flex: 0 0 auto;
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f4e3;
    box-shadow: #4c76de 1px 1px 15px 0px;
    padding: .25rem;
}

.square {
    border: var(--grid-border);
}

.gridbtns-container {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.grid-container,
.gridbtns-container {
    margin-top: .75rem;
}

.onetwentyeight-btn {
    font-size: .9rem;
}











.img-btn {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    filter: brightness(0.5);
}


.color-picker {
    display: none;
}














button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.25rem white);
}

.color-btn:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.25rem white);
}




.active-btn {
    filter: drop-shadow(0 0 0.25rem #fefae0);
    color: #c04141;
}



.shadow-on {
    box-shadow: rgba(84, 84, 158, 0.56) 0px 8px 11px 2px,rgba(192, 162, 162, 0.937) 0px 3px 7px -3px;

    transition: .5s;
}















.draw-btn {
    background-image: url('images/pencil.png');
    background-size: cover;
}

.eraser-btn {
    background-image: url('images/eraser.png');
    background-size: cover;
}

.rainbow-btn {
    background-image: url('images/rainbow.png');
    background-size: cover;
}

.blur-btn {
    background-image: url('images/blur.png');
    background-size: cover;
}

.sepia-btn {
    background-image: url('images/temp.png');
    background-size: cover;
}

.brighter-btn {
    background-image: url('images/lighter.png');
    background-size: cover;
}

.darker-btn {
    background-image: url('images/darker.png');
    background-size: cover;
}

.spacer-btn {
    background-image: url('images/temp.png');
    background-size: cover;
}

.color-btn {
    background-image: url('images/color-picker.png');
    background-size: cover;
}





















@media (max-width: 775px) {
    .grid-container {
        height: 35rem;
        width: 35rem;
    }
    button {
        height: 3rem;
        width: 3rem;
    }
}

@media (max-width: 700px) {
    .grid-container {
        height: 30rem;
        width: 30rem;
    }
    
    .img-btn {
    width: 2.5rem;
    height: 2.5rem;
    }
}

@media (max-width: 600px) {
    .grid-container {
        height: 27rem;
        width: 27rem;
    }

    .grid-container {
        margin-left: .25rem;
    }
    
}

@media (max-width: 540px) {
    .app-inner-container {
        flex-direction: column;
    }
    .gridbtns-container {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
    }
    .grid-container {
        align-self: center;
        margin-top: 1rem;
    }
    .gridbtns-container {
        margin-top: 1.5rem;
    }
    
}

@media (max-width: 470px) {
   .grid-container {
    height: 22rem;
    width: 22rem;
    }
    button {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1rem;
    }
    .onetwentyeight-btn {
        font-size: .7rem;
    }
    .img-btn {
    width: 2rem;
    height: 2rem;
    }
    
}