:root {
    
    --grid-border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #c8c8c8;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
}

h1 {
    font-size: 5rem;
}


.grid-container {
    /*height: 80vw;
    width: 80vw;*/
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;

    background-color: #ffffff;
}



.square {
    border: var(--grid-border);
    background-color: transparent;
}

.active-btn {
    background-color: #023e8a;
    color: red;
}

button {
    color: #111111;
}



@media (max-width: 850px) {
    .grid-container {
        width: 25rem;
        height: 25rem;
    }
}